<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/11.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="../../vendor/autoload.php"
         cacheDirectory="../../var/qa/phpunit.cache"
>
    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
        <server name="KERNEL_CLASS" value="App\Kernel"/>
    </php>
    <testsuites>
        <testsuite name="Unit">
            <directory>../../src/Tests/Unit</directory>
        </testsuite>
        <testsuite name="Component">
            <directory>../../src/Tests/Component</directory>
        </testsuite>
    </testsuites>
</phpunit>
